/*WORKSHOPS PAGE*/

/*Covid Response Notice*/
#workNotice
{
  background-color: #D67C1E;
  max-height: 300px;
  overflow-y: none;
  -webkit-transition: max-height ease-out 0.3s;
  -moz-transition: max-height ease-out 0.3s;
  -o-transition: max-height ease-out 0.3s;
  transition: max-height ease-out 0.3s;
}

#workNotice img
{
  width:15px;
  height: auto;
  float: right;
  margin:8px;
  cursor: pointer;
}

#workNotice p
{
  color: #FFFFFF;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  font-size: 0.8rem;
  padding:5px;
}
#workNotice p span
{
  cursor: pointer;
  text-decoration: underline;
}

/*Covid Response Notice Ends*/

.workHeader
{
  height: 400px;
  width:100%;
  position: relative;
}

.workHeader h2
{
  color:#222222;
  text-align: center;
  position: relative;
  font-size: 16vw;
  margin:0 auto;
  line-height: 80px;
  top:100px;
}
.workHeader h2::first-line
{
  font-size: 16vw;
}

.workshopImg::before
{
  content: "";
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: url("../images/workshop.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/workshop.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/workshop.jpg', sizingMethod='scale')";
}

#workWrap
{
  margin-top:180px;
}


.workImgWrap
{
  display: inline-flex;
  align-self: flex-end;
}

.workTextWrap
{
  display: inline-flex;
  align-self: flex-start;
  margin-bottom: 0;
  padding:15px;
  padding-top:0;
}

.workTextWrap div
{
  height: auto;
}

.workTextWrap p
{
  text-align: center;
  font-weight: normal;
}
.workTextWrap:not(#firstText) p::first-line
{
  font-weight: bold;
}

.workTextWrap div h4
{
    margin-bottom: 30px;
    color: #496D61;
    padding-right: 10px;
    text-align: center;
}

#firstText h4
{
    color: #802420;
}
#lastText h4
{
    color: #D67C1E;
}


.fbWrap
{
  display: inline-flex;
  margin-top: 80px;
}

.fb-container
{
  width: 100%;
  height: 300px;
}

#workWrap ul
{
  padding: 0;
}

#workWrap ul li
{
  display: flex;
  flex-wrap: wrap;
}

.workInfo
{
  display: inline-flex;
    margin: 0 auto;
  margin-top: 20px;
}

.workInfo p
{
  text-align: center;
  font-weight: normal;
}

.newHR
{
  margin:0 auto;
  width: 100px;
  height: 30px;
  margin-top: 100px;
  margin-bottom:100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.newHRCont
{
  width:100px;
  height:30px;
  display: inline-flex;
}

.newHRCont li div
{
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin:9px;
}

.hrOrange
{
  background-color: #D67C1E;
}

.hrGreen
{
  background-color: #496D61;
}

.hrRed
{
  background-color: #802420;
}

/*OUR STORY PAGE*/
#aboutWrap
{
  padding-top:50px;
  padding-bottom: 10px;
}

#aboutStartP img
{
  width: 100%;
  height:auto;
}

#lookDown
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 60px;
  cursor: pointer;
}

#lookDown img
{
  width: 25px;
  height: auto;
}


#aboutImg
{
  position: relative;
  height: 500px;
  width: 100%;
}

#aboutImg h1
{
  color:#ffffff;
  text-align: center;
  position: relative;
  font-size: 3rem;
  margin:0 auto;
  margin-top:190px;
}

#aboutImg p
{
  position: relative;
  color:#ffffff;
  margin:0 auto;
  margin-top:10px;
  text-align: center;
  font-size:1rem;
  font-weight: bold;
}

#aboutImg::before
{
  content: "";
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: url("../images/ourStory.jpg") no-repeat center center fixed;
  filter: brightness(50%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/ourStory.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/ourStory.jpg', sizingMethod='scale')";
}

#aboutStartHeader
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#aboutStartHeader h2
{
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}

#aboutStartHeader h2:first-of-type
{
  font-size: 20vw;
}

#aboutStartHeader h2:last-of-type
{
  font-size: 18vw;
}

#specialH2
{
font-family: 'Dancing Script', cursive;
 font-size: 20vw;
 display: block;
 /* Fallback: Set a background color. */
background-color: #222222;

/* Create the gradient. */
background-image: linear-gradient(45deg, #f3ec78, #af4261);

/* Set the background size and repeat properties. */
background-size: 200%;
background-repeat: repeat;

/* Use the text as a mask for the background. */
/* This will show the gradient as a text color rather than element bg. */
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-background-clip: text;
-moz-text-fill-color: transparent;
}

#aboutStartP
{
  margin-bottom: 20px;
  margin-top:60px;
}

.longhr
{
  margin-bottom: 20px;
}

.longContHr
{
  margin:0 auto;
  overflow: hidden;
  height: 30px;
  padding:0;
}

.longContHr li
{
  display: inline-block;
}

.longContHr li div
{
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin:9px;
}

#aboutTextWrap
{
  padding-top: 150px;
  padding-bottom: 100px;

}

#aboutTextWrap div:first-child
{
  display: flex;
  flex-direction: row;
}

#aboutTextWrap div p:first-of-type
{
  float: left;
  padding-bottom: 20px;
}

#aboutTextWrap div p
{
  padding-left:20px;
  padding-right:20px;
  line-height: 30px;
  font-weight: normal;
  margin-top: 20px;
  flex-flow: wrap;
}

#aboutTextWrap h2
{
  padding-left: 20px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

#portrait
{
  width: 100%;
  height: auto;
  border:solid 2px;
  border-bottom-color:#ffe;
  border-left-color:#eed;
  border-right-color:#eed;
  border-top-color:#ccb;
  max-height:100%;
  max-width:100%;
}

#portraitFrame
{
  float: none;
  margin: 0 auto;

}




/* Our Story Ends */

/* Fundraisers */
#fundHeader
{
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 60px;
}

#fundText
{
 margin: 0 auto;
 margin-bottom: 50px;
 font-weight: normal;
}

#fundText2
{
  margin: 0 auto;
  margin-bottom: 160px;
  font-weight: normal;
}

/*FAQ*/

#faqList
{
    padding: 0;
    margin: 0 auto;
    margin-bottom: 100px;
}

.answers a
{
  font-weight: normal;
}
.answers p
{
  font-weight: normal;
}
.answers
{
  margin: 0 auto;
}
/*Contact*/

.contactWrap
{
  margin: 0 auto;
}

.contactForm
{
  margin: 0 auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 100px;
}
#fundHeader
{
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 20px;
}

.formGroup
{
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}

.formGroup input,
.formGroup textarea
{
  width: 100%;
  padding:5px;
  font-size: 15px;
  border: 1px solid lightgrey;
  margin-top: 5px;
}

textarea
{
  resize: vertical;
  height: 200px;
}

button[type="submit"]
{
  width: 100%;
  max-width: 200px;
  border: none;
  outline: none;
  padding:15px;
  font-size: 20px;
  background-color: #80241F;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
  -webkit-transition: all ease-out 0.1s;
  -moz-transition: all ease-out 0.1s;
  -o-transition: all ease-out 0.1s;
  transition: all ease-out 0.1s;

}

button[type="submit"]:hover
{
  background-color: #5e1a25;
}
/* Custom Catering */
.cateringImg h2
{
  color: #ffffff;
}


#cateringIntro
{
margin: 0 auto;
margin-top: 50px;
font-weight: normal;
margin-bottom: 100px;
text-align: center;
}

.stepWrap
{
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.stepWrap img
{
  width: 60px;
  height: auto;
  align-self: center;
  margin-bottom: 40px;
}

.stepThree img
{
  width: 50px;
  margin-bottom: 50px;
}

.stepWrap p
{
  font-weight: normal;
  text-align: left;
}

.stepWrap h4
{
  text-align: center;
  margin-bottom: 20px;
}

.stepOne img
{
  margin-bottom: 40px;
}

.stepsWrapper
{
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
}

#cateringInfo
{
margin: 0 auto;
margin-top: 100px;
font-weight: normal;
margin-bottom: 80px;
text-align: center;
}


.cateringImg::before
{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    background: url("../images/extra.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/extra.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/extra.jpg', sizingMethod='scale')";
}

/* Store */
:root {
  --vh: 1vh;
  --vw: 1vw;
}

#popUpDetails
{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 1000px;
  height: calc(var(--vh, 1vh) * 90);
  max-height: 700px;
  position: relative;
  -webkit-animation: ease-out 0.3s explode2;
   -moz-animation: ease-out 0.3s explode2;
   -o-animation: ease-out 0.3s explode2;
   animation: ease-out 0.3s explode2;
}
#detailsImg
{
  width: 100%;
  height: 55%;
  content: "";
  position: inline-flex;
  background: url("../images/extra.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/extra.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/extra.jpg', sizingMethod='scale')";
-webkit-animation: ease-out 0.6s appear;
 -moz-animation: ease-out 0.6s appear;
 -o-animation: ease-out 0.6s appear;
 animation: ease-out 0.6s appear;
}

#popUpDetails div:last-of-type
{
  margin: 0 auto;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-animation: ease-out 0.6s appear;
   -moz-animation: ease-out 0.6s appear;
   -o-animation: ease-out 0.6s appear;
   animation: ease-out 0.6s appear;
}

#popUpDetails div h4
{
 margin-top: 10px;
 color: #80241F;
}

#popUpDetails div h5
{
  margin-top: 10%;
}

#popUpDetails div p:last-child
{
  font-weight: normal;
}

#screenWipe
{
  background-color: rgba(128,128,128, 0.6);
  position: fixed;
  height: 100%;
  width: calc(100% - 15px);
  z-index: 5;
  display: none;
  align-items: center;
  justify-content: center;
}

#xPopUp
{
  width: 25px;
  height: 25px;
  padding: 5px;
  cursor: pointer;
  position: absolute;
  display:block;
  right:5px;
  top:5px;
}

.storeImg::before
{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: url("../images/herb2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/herb2.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/herb2.jpg', sizingMethod='scale')";
}

#catWrap ul
{
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  flex-flow: wrap;
  justify-content: center;
  margin-bottom: 60px;
}

#catWrap ul li
{
  background-color: lightgrey;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin:5px;
  cursor: pointer;
}

#catWrap ul li p
{
  color: #ffffff;
  padding: 5px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
}

#resultWrap
{
  margin-bottom: 100px;
}

#resultHeader
{
  color:grey;
}

.resultSlider
{
  overflow-x: scroll;
}

.resultSlider ul
{
  display: inline-flex;
  flex-direction: row;
  height: 225px;
}

.menuItem
{
  width: 200px;
  height: 225px;
  padding: none;
  box-shadow: 0px 0px 15px grey;
  margin: 15px;
  position: relative;
  -webkit-animation: ease-out 0.6s explode;
   -moz-animation: ease-out 0.6s explode;
   -o-animation: ease-out 0.6s explode;
   animation: ease-out 0.6s explode;
}

.thb
{
  width: 200px;
  height: 150px;
  -webkit-animation: ease-out 0.6s appear;
   -moz-animation: ease-out 0.6s appear;
   -o-animation: ease-out 0.6s appear;
   animation: ease-out 0.6s appear;
}

.menuItem div h4
{
  font-size: 1.2rem;
  text-align: center;
  color: #222222;
}

.menuItem div
{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75px;
  -webkit-animation: ease-out 0.6s appear;
   -moz-animation: ease-out 0.6s appear;
   -o-animation: ease-out 0.6s appear;
   animation: ease-out 0.6s appear;
}

.viewDets
{
  position: relative;
  bottom:-8px;
  z-index: 1;
  cursor: pointer;
  color: #80241F;
  pointer-events: all;
  font-weight: normal;
}

.viewDets:hover
{
  text-decoration: underline;
}

.menuItem div a:hover
{
  color:#5e1a25;
}

.star
{
  width: 20px;
  height: 20px;
  position: absolute;
  right:5px;
  top:5px;
  cursor: context-menu;
  -webkit-animation: ease-out 0.6s appear;
   -moz-animation: ease-out 0.6s appear;
   -o-animation: ease-out 0.6s appear;
   animation: ease-out 0.6s appear;
}

#favouritesWrap
{
  margin-bottom: 100px;
}

#favouritesHeader
{
  color:grey;
}

/* Media Queries */

@media screen and (min-width: 560px) {
  #aboutStartP 
  {
      margin-top:5px;
  }
  .workHeader h2
  {
    line-height: 100px;
    top:100px;
  }
  .workHeader h2::first-line
  {
    font-size: 6rem;
  }

  #catWrap ul li
  {
    background-color: lightgrey;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin:5px;
  }
}

/*Medium Screen Query*/
@media screen and (min-width: 767px) {
  #aboutStartHeader h2:first-of-type
  {
    font-size: 120px;
  }

  #aboutStartHeader h2:last-of-type
  {
    font-size: 120px;
  }

  #specialH2
  {
    font-size: 160px;
  }
  .fb-page
  {
    left:50%;
    margin-left: -250px;
  }
  .workTextWrap div
  {
    height: 300px;
  }
  .workTextWrap p
  {
    text-align: left;
    padding-right: 40px;
  }

  .workTextWrap div h4
  {
      text-align: left;
      padding-right: 10px;
  }
  .workHeader h2
  {
    font-size: 8rem;
  }
  #popUpDetails
  {
    flex-direction: row;
  }
  #detailsImg
  {
    width: 200%;
    height: 100%;
  }
  #popUpDetails div h4
  {
   margin-top: 30%;
  }
  #portraitFrame
  {
    float: right;
      transform: translateY(-25px);
  }
  #middleP
  {
    width: 47%;
  }
}

@media screen and (min-width: 992px) {
  #aboutStartHeader h2:first-of-type
  {
    font-size: 120px;
  }

  #aboutStartHeader h2:last-of-type
  {
    font-size: 60px;
  }

  #specialH2
  {
    font-size: 100px;
  }

  .stepsWrapper
  {
    flex-direction: row;
  }
  #catWrap ul
  {
    justify-content:flex-start;
  }
}

.workImg img {
  border:solid 2px;
  border-bottom-color:#ffe;
  border-left-color:#eed;
  border-right-color:#eed;
  border-top-color:#ccb;
  max-height:100%;
  max-width:100%;
}

.frame {
  background-color:#ddc;
  border:solid 30px #fff;
  border-bottom-color:#ECC77B;
  border-left-color:#d6b269;
  border-radius:2px;
  border-right-color:#d6b269;
  border-top-color:#c79f50;
  box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing:border-box;
  display:inline-block;
  height:auto;
  padding:2vmin;
  position:relative;
  text-align:center;
}
  .frame:before {
    border-radius:2px;
    bottom: -10px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
    content:"";
    left:-10px;
    position:absolute;
    right:-10px;
    top:-10px;
  }
  .frame:after {
    border-radius:2px;
    bottom:-15px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    content:"";
    left:-15px;
    position:absolute;
    right:-15px;
    top:-15px;
  }
